@import "vars";


.head-background-catalog {
  height: 400px;
  background: $backgroundImagesColor url("../img/catalog-header.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  min-width: 406px;
}

@media (min-width: $tabletResolutionModifiedMin) {
  .catalog-h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 70px;
    margin: 127px 0 126px 0;
  }
}

.underheading-nav {

  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-content: start;
  color: black;

}

.upper-nav {
  display: flex;
  flex-wrap: wrap;

  &-list:not(:last-child):after {
    content: "/";
    padding: 0 10px;
  }


  &-links {
    color: black;
  }
}

.upper-nav-text {
  color: black;
  font-size: 1rem;
  line-height: 32px;
}

.upper-nav-links:hover {
  text-decoration: underline;
}

.select {
  appearance: none;
  width: 288px;
  height: 41px;
  font-size: 1rem;
  line-height: 20px;
  padding-left: 14px;
  border: 1px solid $borderColorGrey;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 32px;
  outline: none;
  font-family: $font;
  background: url("../img/polygon-select.svg") no-repeat 96% 50%;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 48px;
}

@media (min-width: $tabletResolutionModifiedMin) {
  .goods-name {
    color: #F4F2EE;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    padding: 10px 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.goods-description {
  font-size: 14px;
  line-height: 17px;
  color: #A59B8F;
  margin-bottom: 12px;
}

.price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #F4F2EE;
  margin-right: 32px;
}

.show-more {
  display: block;
  width: 140px;
  font-size: 1rem;
  line-height: 24px;
  margin-top: 32px;
  padding-bottom: 64px;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}


