@media (max-width: $mobileResolution) {

  .center {
    padding: 0 16px;
  }

  .center-mobile {
    padding-left: $mobileCenterGoods;
    padding-right: $mobileCenterGoods;
  }

  .head-background-main {
    height: 90vh;
  }

  .head-background-catalog {
    height: 90vh;
  }

  .head-background-cart {
    height: 90vh;
  }

  .header__input-search {
    display: none;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 0;

    &__links-items {
      display: none;
    }

    &__logo {
      width: 99px;
      height: 22px;

      &-img {
        width: 99px;
        height: 22px;
      }
    }
  }

  .header__mobile {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .main-h1, .catalog-h1 {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .catalog-h1 {
    margin-top: 165px;
  }
  .main-h1-text {
    padding-top: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .main-to-catalog {
    padding-top: 16px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #fff;
  }
  .for-header {

    font-size: 24px;
    line-height: 29px;
    padding: 32px 0;

  }
  .for-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 0;
    min-width: 375px;

    &s {
      grid-column: span 4;
      font-weight: 600;
      height: 375px;
      font-size: 28px;
      line-height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #FFFFFF;

      &:nth-of-type(1) {
        background: $backgroundImagesColor url("../img/for-rest.jpg");
        background-size: cover;
        height: 244px;
      }

      &:nth-of-type(2) {
        background: url("../img/for-work.jpg"), $backgroundImagesColor;
        background-size: cover;
        height: 244px;
      }

      &:nth-of-type(3) {
        background: url("../img/for-kitchen.jpg"), $backgroundImagesColor;
        background-size: cover;
        height: 375px;
      }

      &:nth-of-type(4) {
        background: url("../img/for-children.jpg"), $backgroundImagesColor;
        background-size: cover;
        height: 375px;
      }

      &:nth-of-type(5) {
        background: url("../img/for-bathroom.jpg"), $backgroundImagesColor;
        background-size: cover;
        height: 375px;
      }
    }
  }


  .special-offers-heading {
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin: 32px 0;
  }

  .special-offers-items {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
    margin-bottom: 8px;
    margin-top: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .special-offers-description {
    font-size: 14px;
    line-height: 17px;
    color: #888;
    margin-bottom: 12px;
  }

  .price {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #050505;
    margin-right: 32px;
  }

  .old-price {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #888;
  }

  .catalog-goods-heading {
    font-size: 24px;
    line-height: 29px;
    margin: 64px 0 32px 0;
    color: #000;
  }

  .bottom-to-catalog {
    text-decoration: underline;
  }

  //catalog.html

  .upper-nav-links {
    text-decoration: underline;
  }

  .goods-name {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    padding: 10px 0;
    font-weight: 500;
  }

  .show-more {
    text-decoration: underline;
  }

  //cart.html

  .cart {
    &-flex {
      display: flex;
      flex-wrap: wrap;
    }

    &-link-img, &-item-img {
      display: none;
    }

    &-ordering {
      margin: auto;
    }

    &-footer {
      justify-content: center;

      &-proceed {
        color: #FFFFFF;
        background: black;
      }
    }


    &-bottom-to-catalog {
      text-decoration: underline;
    }
  }

  .special-offerings {
    padding-top: 16px;

    &-items {
      font-size: 18px;
      line-height: 22px;
      color: #000;
      font-weight: 500;
    }

    &-heading {
      font-size: 24px;
      line-height: 29px;
      padding: 32px 0;
    }
  }

  .goods-flex {
    row-gap: 32px;
    column-gap: 0;

  }
  .special-offers-items {
    font-size: 18px;
    line-height: 22px;
  }
  .price, .old-price {
    font-size: 18px;
    line-height: 22px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 34px;
    padding-bottom: 33px;
    min-width: 375px;

    &__logo {
      display: none;
    }

    &__content {
      gap: 100px;
      padding-top: 32px;
    }

  }
}