$font: "Montserrat", sans-serif;
$backgroundGrey: #F7F6F6;
$backgroundImagesColor: #C4C4C4;
$borderColorGrey: #C4C4C4;
$tabletResolution: 1024px;
$tabletResolutionModifiedMin: 768px;
$tabletResolutionModifiedMax: 833px;
$mobileResolution: 767px;
$minDesktopResolution: 1025px;
$mobileCenterGoods: calc(50% - 189px);