.head-background-catalog {
  height: 400px;
  background: #C4C4C4 url("../img/catalog-header.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  min-width: 406px;
}

@media (min-width: 768px) {
  .catalog-h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 70px;
    margin: 127px 0 126px 0;
  }
}
.underheading-nav {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-content: start;
  color: black;
}

.upper-nav {
  display: flex;
  flex-wrap: wrap;
}
.upper-nav-list:not(:last-child):after {
  content: "/";
  padding: 0 10px;
}
.upper-nav-links {
  color: black;
}

.upper-nav-text {
  color: black;
  font-size: 1rem;
  line-height: 32px;
}

.upper-nav-links:hover {
  text-decoration: underline;
}

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 288px;
  height: 41px;
  font-size: 1rem;
  line-height: 20px;
  padding-left: 14px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 32px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background: url("../img/polygon-select.svg") no-repeat 96% 50%;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
}

@media (min-width: 768px) {
  .goods-name {
    color: #F4F2EE;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    padding: 10px 0;
  }
  .goods-name:hover {
    text-decoration: underline;
  }
}
.goods-description {
  font-size: 14px;
  line-height: 17px;
  color: #A59B8F;
  margin-bottom: 12px;
}

.price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #F4F2EE;
  margin-right: 32px;
}

.show-more {
  display: block;
  width: 140px;
  font-size: 1rem;
  line-height: 24px;
  margin-top: 32px;
  padding-bottom: 64px;
  color: black;
}
.show-more:hover {
  text-decoration: underline;
}

.head-background-cart {
  height: 400px;
  background: #C4C4C4 url("../img/cart-header.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  min-width: 406px;
}

.cart {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart-list {
  max-width: 786px;
  grid-column: span 8;
}
.cart-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-box {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.cart-item {
  padding-top: 39px;
  border-top: 0.5px solid #CACDD8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.cart-item-img {
  width: 173px;
  height: 173px;
  grid-column: span 2;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 32px;
  transition: 0.2s;
}
.cart-item-img:hover {
  transform: scale(1.03);
}
.cart-item-description {
  display: grid;
  grid-column: span 4;
  gap: 14px;
}
.cart-item-description-name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: black;
}
.cart-item-description-name:hover {
  text-decoration: underline;
}
.cart-item-description-text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart-item-description-price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #F4F2EE;
}
.cart-item-description-manage {
  font-size: 14px;
  line-height: 210%;
  display: flex;
  gap: 30px;
}
.cart-item-buttons {
  border: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 210%;
}
.cart-item-buttons:hover {
  text-decoration: underline;
}
.cart-item-number {
  display: grid;
  grid-column-start: 8;
}
.cart-item-number-count {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  border-color: transparent;
  outline: none;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
}
.cart-ordering {
  min-width: 376px;
  outline: none;
  border: none;
  padding-top: 42px;
  display: grid;
  grid-column: span 4;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
  justify-content: center;
  background: #F7F6F6;
  border-radius: 20px;
  padding-bottom: 148px;
}
.cart-ordering-input, .cart-ordering-input-fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: none;
}
.cart-ordering-input-header {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.cart-ordering-input-fields {
  outline: none;
}
.cart-ordering-input-fields-name, .cart-ordering-input-fields-tel, .cart-ordering-input-fields-address {
  border: none;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #CACDD8;
  background-color: #F7F6F6;
  color: black;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
}
.cart-ordering-input-fields-name:focus, .cart-ordering-input-fields-tel:focus, .cart-ordering-input-fields-address:focus {
  outline: none;
}
.cart-ordering-summ {
  font-size: 1.5rem;
  text-align: center;
  line-height: 29px;
  padding-top: 64px;
  padding-bottom: 18px;
}
.cart-ordering-suggest {
  border-radius: 20px;
  border-color: black;
  background: #F7F6F6;
  width: 298px;
  height: 41px;
  font-size: 1rem;
  line-height: 20px;
}
.cart-ordering-suggest:hover {
  animation: suggestButtonSlide 0.4s ease-out both;
}
.cart-footer {
  grid-column: span 8;
  display: flex;
  padding-top: 32px;
  gap: 10px;
}
.cart-footer-clear, .cart-footer-proceed {
  width: 163px;
  height: 37px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  transition: background-color 0.2s;
}
.cart-footer-clear:hover, .cart-footer-proceed:hover {
  background-color: #CACDD8;
}
.cart-bottom-to-catalog {
  font-size: 1rem;
  line-height: 24px;
  display: block;
  width: 156px;
  padding-bottom: 64px;
  color: #000;
}
.cart-bottom-to-catalog:hover {
  text-decoration: underline;
}

.special-offerings {
  padding-top: 64px;
  padding-bottom: 33px;
}
.special-offerings-heading {
  color: black;
  font-weight: 600;
  font-size: 3rem;
  line-height: 59px;
  padding-bottom: 32px;
}
.special-offerings-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  transition: 1s;
}
.special-offerings-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.special-offerings-box-prices {
  display: inline;
}
.special-offerings-items {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: black;
}
.special-offerings-items:hover {
  text-decoration: underline;
}
.special-offerings-description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.special-offerings-price {
  display: inline;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #F4F2EE;
  padding-right: 32px;
}
.special-offerings-old-price {
  display: inline;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

@keyframes suggestButtonSlide {
  100% {
    background-color: #CACDD8;
    transform: scale(1.1);
  }
}
@media (max-width: 767px) {
  .center {
    padding: 0 16px;
  }
  .center-mobile {
    padding-left: calc(50% - 189px);
    padding-right: calc(50% - 189px);
  }
  .head-background-main {
    height: 90vh;
  }
  .head-background-catalog {
    height: 90vh;
  }
  .head-background-cart {
    height: 90vh;
  }
  .header__input-search {
    display: none;
  }
  .header {
    padding-top: 32px;
    padding-bottom: 0;
  }
  .header__links-items {
    display: none;
  }
  .header__logo {
    width: 99px;
    height: 22px;
  }
  .header__logo-img {
    width: 99px;
    height: 22px;
  }
  .header__mobile {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .main-h1, .catalog-h1 {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .catalog-h1 {
    margin-top: 165px;
  }
  .main-h1-text {
    padding-top: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .main-to-catalog {
    padding-top: 16px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #fff;
  }
  .for-header {
    font-size: 24px;
    line-height: 29px;
    padding: 32px 0;
  }
  .for-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    -moz-column-gap: 0;
         column-gap: 0;
    min-width: 375px;
  }
  .for-blocks {
    grid-column: span 4;
    font-weight: 600;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .for-blocks:nth-of-type(1) {
    background: #C4C4C4 url("../img/for-rest.jpg");
    background-size: cover;
    height: 244px;
  }
  .for-blocks:nth-of-type(2) {
    background: url("../img/for-work.jpg"), #C4C4C4;
    background-size: cover;
    height: 244px;
  }
  .for-blocks:nth-of-type(3) {
    background: url("../img/for-kitchen.jpg"), #C4C4C4;
    background-size: cover;
    height: 375px;
  }
  .for-blocks:nth-of-type(4) {
    background: url("../img/for-children.jpg"), #C4C4C4;
    background-size: cover;
    height: 375px;
  }
  .for-blocks:nth-of-type(5) {
    background: url("../img/for-bathroom.jpg"), #C4C4C4;
    background-size: cover;
    height: 375px;
  }
  .special-offers-heading {
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin: 32px 0;
  }
  .special-offers-items {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
    margin-bottom: 8px;
    margin-top: 10px;
  }
  .special-offers-items:hover {
    text-decoration: underline;
  }
  .special-offers-description {
    font-size: 14px;
    line-height: 17px;
    color: #888;
    margin-bottom: 12px;
  }
  .price {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F4F2EE;
    margin-right: 32px;
  }
  .old-price {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #888;
  }
  .catalog-goods-heading {
    font-size: 24px;
    line-height: 29px;
    margin: 64px 0 32px 0;
    color: #000;
  }
  .bottom-to-catalog {
    text-decoration: underline;
  }
  .upper-nav-links {
    text-decoration: underline;
  }
  .goods-name {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    padding: 10px 0;
    font-weight: 500;
  }
  .show-more {
    text-decoration: underline;
  }
  .cart-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .cart-link-img, .cart-item-img {
    display: none;
  }
  .cart-ordering {
    margin: auto;
  }
  .cart-footer {
    justify-content: center;
  }
  .cart-footer-proceed {
    color: #FFFFFF;
    background: black;
  }
  .cart-bottom-to-catalog {
    text-decoration: underline;
  }
  .special-offerings {
    padding-top: 16px;
  }
  .special-offerings-items {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
  }
  .special-offerings-heading {
    font-size: 24px;
    line-height: 29px;
    padding: 32px 0;
  }
  .goods-flex {
    row-gap: 32px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .special-offers-items {
    font-size: 18px;
    line-height: 22px;
  }
  .price, .old-price {
    font-size: 18px;
    line-height: 22px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 34px;
    padding-bottom: 33px;
    min-width: 375px;
  }
  .footer__logo {
    display: none;
  }
  .footer__content {
    gap: 100px;
    padding-top: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding: 0 calc(50% - 394px);
  }
  .for-block {
    gap: 30px;
  }
  .for-blocks {
    height: 268px;
  }
  .goods-flex {
    gap: 29px;
  }
  .show-more {
    text-decoration: underline;
  }
  .cart-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .cart-footer-proceed {
    color: #FFFFFF;
    background: black;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding: 0 24px;
  }
  .goods-box {
    width: 345px;
  }
  .goods-box-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (min-width: 1025px) {
  .center {
    padding: 0 calc(50% - 600px);
  }
}
.head-background-main {
  height: 735px;
  min-width: 406px;
  background: #C4C4C4 url("../img/main-header.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .header {
    border-bottom: 0.5px solid #FFFFFF;
  }
}
.header {
  max-width: 1200px;
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  transition: 0.3s;
}
.header__logo:hover {
  transform: scale(1.03);
}
.header__input-search {
  height: 41px;
  width: 288px;
  font-size: 1rem;
  line-height: 20px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.header__input-search::-moz-placeholder {
  color: #FFFFFF;
}
.header__input-search::placeholder {
  color: #FFFFFF;
}
.header__input-search:hover {
  background-color: #fff;
  transition: 0.3s;
}
.header__input-search:focus {
  background-color: #fff;
}
.header__input-search:hover::-moz-placeholder {
  color: black;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.header__input-search:hover::placeholder {
  color: black;
  transition: 0.3s;
}
.header__list {
  display: flex;
  gap: 32px;
}
.header__links-items {
  margin-left: 10px;
}
.header__links {
  display: block;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
}
.header__links:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .header__mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 70px;
    margin: 64px 0 16px 0;
    max-width: 792px;
  }
  .main-h1-text {
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .main-to-catalog {
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
  }
}
.main-to-catalog:hover {
  text-decoration: underline;
}

.goods-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.special-offers {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .special-offers-heading {
    display: flex;
    font-weight: 600;
    font-size: 3rem;
    line-height: 59px;
    color: #000;
    margin-bottom: 32px;
    margin-top: 64px;
  }
}
.goods-box, .goods, .special-offerings-box {
  max-width: 378px;
  transition: 0.2s;
}
.goods-box:hover, .goods:hover, .special-offerings-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #888888;
}

.goods-img-link {
  display: block;
  font-size: 0;
}

@media (min-width: 768px) {
  .catalog-goods-heading {
    display: flex;
    font-weight: 600;
    font-size: 3rem;
    line-height: 59px;
    color: #000;
    margin-bottom: 32px;
    margin-top: 64px;
  }
  .for-header {
    font-weight: 600;
    font-size: 3rem;
    line-height: 59px;
    color: black;
    padding-top: 64px;
    padding-bottom: 32px;
  }
}
@media (min-width: 769px) {
  .for-block {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
  }
  .for-blocks {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .for-blocks:nth-of-type(1) {
    grid-column: span 6;
    background: #C4C4C4 url("../img/for-rest.jpg");
    background-size: cover;
    height: 415px;
  }
  .for-blocks:nth-of-type(2) {
    grid-column: span 6;
    background: url("../img/for-work.jpg"), #C4C4C4;
    background-size: cover;
    height: 415px;
  }
  .for-blocks:nth-of-type(3) {
    grid-column: span 4;
    background: url("../img/for-kitchen.jpg"), #C4C4C4;
    background-size: cover;
    height: 415px;
  }
  .for-blocks:nth-of-type(4) {
    grid-column: span 4;
    background: url("../img/for-children.jpg"), #C4C4C4;
    background-size: cover;
    height: 415px;
  }
  .for-blocks:nth-of-type(5) {
    grid-column: span 4;
    background: url("../img/for-bathroom.jpg"), #C4C4C4;
    background-size: cover;
    height: 415px;
  }
}
@media (min-width: 768px) {
  .special-offers-items {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
    margin-bottom: 8px;
    margin-top: 10px;
  }
  .special-offers-items:hover {
    text-decoration: underline;
  }
  .special-offers-description {
    font-size: 14px;
    line-height: 17px;
    color: #888;
    margin-bottom: 12px;
  }
  .price {
    display: inline;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #F4F2EE;
    margin-right: 32px;
  }
  .old-price {
    display: inline;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888;
  }
}
.bottom-to-catalog {
  display: block;
  width: 160px;
  font-size: 1rem;
  line-height: 24px;
  color: black;
  margin: 39px 0 64px 0;
}
.bottom-to-catalog:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
}
.footer__logo {
  transition: 0.3s;
}
.footer__logo:hover {
  transform: scale(1.03);
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-around;
}
.footer__links {
  color: #888888;
  font-size: 14px;
  line-height: 17px;
}
.footer__links:hover {
  text-decoration: underline;
}
.footer__menu-heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}
.footer__list {
  padding-top: 12px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1.5rem;
  line-height: 29px;
}
.footer__contacts-heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}
.footer__contacts-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__icon {
  transition: 0.2s;
}
.footer__icon:hover {
  transform: scale(1.2);
}
.footer__icon:hover path {
  fill: #000;
}
.footer__input-email {
  color: black;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 12px 24px 14px 24px;
  font-size: 15px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  transition: border 0.3s;
}
.footer__input-email:hover {
  border: 1px solid #000;
}
.footer__input-email::-moz-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  font-family: "Montserrat", sans-serif;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__input-email::placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s;
}
.footer__input-email:hover::-moz-placeholder {
  color: #000;
}
.footer__input-email:hover::placeholder {
  color: #000;
}
.footer__sign-in-button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  padding: 13px 85px;
  font-size: 15px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.2s;
}
.footer__sign-in-button:hover {
  background-color: #888888;
}
.footer__get-news {
  display: flex;
  gap: 12px;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}
.footer__get-news-text {
  font-size: 14px;
  line-height: 16px;
}/*# sourceMappingURL=style.css.map */